body {
    text-align: center;
    margin-top: 12rem;
}

main {
    margin: 2rem;
}

button {
    font-size: 1.5rem;
    color: #FFF;
    background-color: #228b22;
    padding-left: 4rem;
    padding-right: 4rem;
}
form > div {
    margin: 3px;
}

#email {
    padding: 1em;
}

#password {
    padding: 1em;
}


